<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="ConfigXML">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
      <whitelist processUncoveredFilesFromWhiteList="true">
          <directory suffix=".php">src</directory>
      </whitelist>
  </filter>
</phpunit>
